@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

html,
button {
  font-family: "Nunito", "IBM Plex Sans", sans-serif;
}
* {
  scroll-behavior: smooth;
}
body * {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}
body {
  background-color: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  color: #212353;
}
p,
span {
  color: #4b5d68;
}
.nav,
.fourth,
.line {
  margin-bottom: 50px;
}
.third {
  margin-bottom: 125px;
}
.main {
  width: 100vw;
}
.main * {
  display: flex;
}
.container {
  width: 95%;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}
.container div {
  margin: 2.5px;
  padding: 10px;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.nav .container {
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
.nav_first {
  width: 45%;
  align-items: center;
  justify-content: space-between;
}
.nav_1 {
  font-size: 20px;
  color: #212353;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hamburger .bi {
  font-size: 2rem;
}
.demo {
  display: none;
}
.demo_btn {
  display: none;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  padding: 15px 28px 15px 28px;
}
.demo_btn p {
  font-size: 16px;
}
.demo_btn .bi-arrow-right {
  padding-left: 20px;
  color: #9c69e2;
  font-size: 1.8em;
}
.figure {
  align-items: flex-end;
}
.nav_links {
  display: none;
  width: 300px;
  justify-content: space-between;
}
.figure .figure_1 {
  width: 20px;
  height: 20px;
  background: #9c69e2;
  border-radius: 20px;
}
.figure .figure_2 {
  width: 20px;
  height: 35px;
  background: #f063b8;
  border-radius: 20px;
}
div.figure {
  padding: 0;
}
.first {
  height: 75vh;
  align-items: center;
}
.first_left {
  width: 100%;
  height: 80%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.first_left h1 {
  font-family: "IBM Plex Sans";

  font-size: 3rem;
  line-height: 110%;
}
.first_btn {
  color: #fff;
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0);
  background-color: #9c69e2;
  padding: 10px 20px;
}
.first_right {
  display: none;
  position: absolute;
  width: 885px;
  height: 468px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  transform: translate(-248px, 126px);
}
.second {
  height: 90vh;
  justify-content: center;
}
.second .container {
  background-color: #f063b826;
  border-radius: 50px;
  flex-direction: column-reverse;
}
.second_left {
  background-image: url(img/d66cbc4f7f6bdeb871119627151a2188.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  justify-self: center;
  opacity: 20%;
  height: 300px;
  width: 300px;
  z-index: 98;
}
.second_right {
  z-index: 99;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.second_right h2 {
  font-family: "IBM Plex Sans";
  font-size: 2.5rem;
  line-height: 52px;
}
.third .container {
  flex-direction: column;
}
.third_main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.third_main p {
  text-align: center;
}
.third h3 {
  font-family: "IBM Plex Sans";
  font-size: 3rem;
  line-height: 52px;
}
.third h4 {
  font-family: "IBM Plex Sans";
  font-size: 1.6rem;
  line-height: 52px;
}
.third_cont {
  height: 70%;
  flex-wrap: wrap;
  justify-content: center;
}
.third_cont .n {
  width: 95%;
  height: 353px;
  border-radius: 50px;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 2.5px 30px 2.5px;
}
div .third_cont {
  margin: 0;
  padding: 0;
}
.third_cont_1 {
  width: 220px;
  flex-direction: column;
}
.n p {
  font-size: 16px;
  height: 80%;
}
.background_1 {
  background-color: #68c9ba18;
  aspect-ratio: 1/1;
}
.background_2 {
  background-color: #9b69e218;
  aspect-ratio: 1/1;
}
.background_3 {
  background-color: #ef61b718;
  aspect-ratio: 1/1;
}
.background_4 {
  background-color: #2d9bdb18;
  aspect-ratio: 1/1;
}
.img1 {
  background-image: url(img/7ba1dda1fab4af707def69fa8e4d2a0b.png);
}
.img2 {
  background-image: url(img/6441ecd1919c84f36a65eabdc8138a2c.png);
}
.img3 {
  background-image: url(img/2f3e743d08b2c66de2a7a23d4228df91.png);
}
.img4 {
  background-image: url(img/af78d7add1e7940c7af1b7f896b757e0.png);
}
.img1,
.img2,
.img3,
.img4 {
  z-index: 98;
  opacity: 20%;
  transform: translate(40%, 50%);
  height: 240px;
  width: 240px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}
.third_info {
  z-index: 99;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.third_btn {
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 50px;
}
/* ----------------------------------------------------------------------------------------- */
.fourth {
  height: 90vh;
  flex-direction: column;
}
.fourth .container {
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background-color: #9c69e2;
}
h5 {
  font-family: "IBM Plex Sans";
  justify-content: center;
  font-size: 40px;
  color: #fff;
}
.fourth_person,
.fourth_menu {
  flex-direction: column;
  align-items: center;
}
.person_1,
.person_2,
.person_3 {
  box-shadow: 0px 20px 0px #673f9f2e;
  border-radius: 20px;
}
.person_2_shadow,
.person_3_shadow {
  position: absolute;
  width: 400px;
  height: 330px;
  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  border: 1px solid #9c69e2;
}
.person_1,
.person_2,
.person_3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 490px;
  background: #ffffff;
}
.person_info {
  align-items: center;
  flex-direction: column;
}
.person_info p {
  color: #212353;
}
.person_info a {
  font-size: 14px;
  color: #9c69e2;
}
.person_info .person_name,
.person_info .person_web {
  padding: 0 10px;
  text-align: center;
}
.person_info span {
  font-size: 17px;
  inline-size: 110%;
  line-height: 160%;
}
.person_2,
.person_3 {
  display: none;
  width: 400px;
  height: 330px;
  background-color: #ffffff;
  border: 1px solid #9c69e2;
  border-radius: 20px;
}
.person_2 {
  transform: translate(110px);
}
.person_3 {
  transform: translate(220px);
}
.foto_1,
.foto_2,
.foto_3 {
  width: 110px;
  height: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.foto_2 {
  background-position: 50% 20%;
  background-size: 100%;
}
.foto_3 {
  background-size: contain;
}
.foto_1 {
  background-image: url(img/da4d74b6ffcfa490d831317ff20eb608.jpg);
}
.foto_2 {
  background-image: url(img/14f6cab337299359f974c0425e2feb1b.jpg);
}
.foto_3 {
  background-image: url(img/4c73c7d6d5b8bb74b6664e8e099c3d9b.jpg);
}
.fourth_menu {
  justify-content: space-between;
  align-items: center;
}
.dots {
  width: 80px;
  height: 25px;
  align-items: center;
  justify-content: space-between;
}
.dots .big_circle,
.dots .white_circle {
  margin: 0;
  padding: 0;
}
.big_circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f063b8;
}
.white_circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}
.fourth_menu .arrows {
  display: none;
}
.left .bi,
.right .bi {
  color: #fff;
  font-size: 2rem;
}
div .line {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 100%;
  background-color: #9c69e2;
}
.footer {
  flex-direction: column;
}
.footer * {
  flex-direction: column;
}
.bi {
  font-size: 20px;
}
.footer_1,
.footer_2,
.footer_3,
.footer_2_4_2,
.footer_1_right {
  flex-direction: row;
  justify-content: space-between;
}
.footer_1 {
  justify-content: center;
}
.footer_1_left {
  align-items: center;
  text-align: center;
}
.footer_1_right {
  display: none;
  width: auto;
  align-items: center;
}
h6 {
  font-family: "IBM Plex Sans";
  font-size: 40px;
}
.footer_2_1_1 p,
.footer_2_2_1 p,
.footer_2_3_1 p,
.footer_2_4_1 p {
  font-size: 20px;
  color: #212353;
}
.footer_2 {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_2 {
  width: 100%;
}
.footer_2_2,
.footer_2_3 {
  width: 40%;
}
.figure {
  flex-direction: row;
}
.footer_2_1 {
  width: 60%;
  align-items: center;
}
.footer_2_1_1 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer_2_1_2 p {
  width: 260px;
  font-size: 16px;
  line-height: 180%;
}
.footer_2_4 {
  width: 100%;
  align-items: center;
  text-align: center;
}
.li a {
  color: #212353;
  font-size: 16px;
  line-height: 250%;
}
.fa-brands,
.fa-solid {
  color: #fff;
  font-size: 22px;
}
.footer_2_4_2 {
  width: 200px;
}
.footer_3 {
  flex-direction: column;
  align-items: center;
}
.footer_3_1 p {
  width: 330px;
  font-size: 12px;
}
.icon {
  background-color: #212353;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.fa-comment-dots {
  color: #9c69e2;
}
.fa-comment-dots {
  color: #9c69e2;
}
.fa-comment-dots {
  color: #9c69e2;
}

@media screen and (min-width: 760px) {
  .second .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .second_left {
    position: relative;
    opacity: 100%;
    width: 381.6px;
    height: 404px;
  }
  .third_cont .n {
    width: 354px;
    height: 353px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .container div {
    padding: 0;
  }
  .demo,
  .demo_btn,
  .nav_links,
  .first_right,
  .person_2,
  .person_3,
  .fourth_menu .arrows,
  .footer_1_right {
    display: flex;
  }
  .logo,
  .hamburger {
    display: none;
  }
  .first_left * {
    margin: 25px 0;
  }
  .first_left {
    width: 60%;
  }
  .first_left h1 {
    font-size: 80px;
  }
  .first_left p {
    width: 70%;
  }
  .second .container {
    flex-direction: row;
  }
  .second_left {
    width: 477px;
    height: 504px;
  }
  .container .second_right {
    justify-content: space-evenly;
    width: 55%;
    text-align: left;
    margin: 80px 0;
  }
  .third .container {
    align-items: center;
  }
  .container .third_main {
    margin: 70px 0;
    width: 65%;
  }
  .container .third_main div {
    margin: 20px 0;
  }
  .third_cont {
    justify-content: space-between;
    align-content: space-between;
  }
  .third_cont .n {
    width: 442px;
    height: 358px;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    z-index: 98;
    opacity: 100%;
    transform: translate(-125px, 20px);
    width: 240px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }
  .background_1,
  .background_2,
  .background_3,
  .background_4 {
    background-color: #ffffff00;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
  }
  .background_1 {
    background-image: url(img/1.png);
  }
  .background_2 {
    background-image: url(img/2.png);
  }
  .background_3 {
    background-image: url(img/3.png);
  }
  .background_4 {
    background-image: url(img/4.png);
  }
  .n .third_info {
    margin-left: 130px;
    align-content: center;
    align-items: stretch;
    justify-content: space-evenly;
  }
  .third_info p {
    width: 90%;
  }
  .fourth .container {
    align-items: flex-start;
  }
  .fourth .container .fourth_h,
  .fourth .container .fourth_person,
  .fourth .container .fourth_menu {
    margin-left: 95px;
  }
  .fourth .container .fourth_h {
    margin: 80px 0 80px 95px;
  }
  .fourth_person {
    flex-direction: row;
  }
  .person_info .person_name,
  .person_info .person_web {
    padding: 0;
  }
  .person_1,
  .person_2,
  .person_3 {
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
  }
  .person_1 {
    width: 645px;
    height: 330px;
  }
  .person_2 {
    transform: translate(15px);
  }
  .person_3 {
    transform: translate(25px);
  }
  .person_info {
    width: 65%;
    align-items: flex-start;
  }
  .person_info span {
    align-items: flex-start;
    text-align: left;
  }
  .foto {
    transform: translate(-8px, -45px);
  }
  .fourth_menu {
    flex-direction: row;
    width: 85%;
  }
  .foto {
    height: 90px;
    width: 90px;
  }
  .big_circle {
    width: 10px;
    height: 10px;
  }
  .white_circle {
    width: 5px;
    height: 5px;
  }
  .footer .container * {
    text-align: left;
    width: auto;
  }
  .container .footer_1,
  .footer_1_right {
    justify-content: space-between;
    align-items: center;
  }
  .container .footer_2 {
    flex-wrap: nowrap;
  }
  div.footer_1,
  div.footer_3 {
    margin: 60px 2.5px;
  }
  .footer_2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_2 .footer_2_1 {
    width: 35%;
  }
  .footer_2_1,
  .footer_1_left,
  .footer_2_4 {
    width: auto;
    align-items: flex-start;
  }
  .footer_1_right .demo_btn {
    flex-direction: row;
  }
  .footer_1_right .first_btn {
    background-color: #f063b8;
  }
  .footer_3 .footer_3_1 * {
    width: 60%;
  }
  .container .footer_3 {

    flex-direction: row;
  }
  .figure .figure_1,
  .figure .figure_2 {
    width: 20px;
  }
  .footer_2_1_1 .figure {
    margin-right: 20px;
  }
}
