@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica.ttf);
}
@font-face {
  font-family: Avenir;
  src: url(font/AvenirLTStd-Black.otf);
}
body * {
  font-family: "Avenir";
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  color: #212353;
}
p,
span {
  color: #4b5d68;
}
.main div {
  margin: 5px;
  padding: 10px;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main * {
  display: flex;
}
.main .nav,
.main .first,
.main .second,
.main .third,
.main .fourth,
.main .footer {
  width: 1224px;
  margin: 50px 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
/* ----------------------------------------------------------------------------------------- */
.nav {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
.nav_first {
  width: 45%;
  align-items: center;
  justify-content: space-between;
}
.demo_btn {
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 210px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
}
.figure {
  align-items: flex-end;
}
.nav_links {
  width: 300px;
  justify-content: space-between;
}
.smoll {
  width: 20px;
  height: 20px;
  background: #9c69e2;
  border-radius: 20px;
}
.smoll2 {
  width: 20px;
  height: 35px;
  background: #f063b8;
  border-radius: 20px;
}
/* ----------------------------------------------------------------------------------------- */
.first {
  height: 70vh;
  align-items: center;
}
.first_left {
  display: flex;
  width: 50%;
  height: 80%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.first_left h1 {
  font-family: "Helvetica";
  font-size: 80px;
  font-weight: 700;
  line-height: 110%;
}
.first_left p {
  width: 60%;
}
.first_btn {
  color: #fff;
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0);
  background-color: #9c69e2;
}
.first_right {
  position: absolute;
  width: 885px;
  height: 468px;
  background-image: url(img/039cbccbb3a55ae069a3291f512521c8.png);
  background-position: center;
  background-size: cover;
  transform: translate(373px, 91px);
}
/* ----------------------------------------------------------------------------------------- */
.second {
  display: flex;
  background-color: #f063b826;
  border-radius: 50px;
}
.second_left {
  background-image: url(img/d66cbc4f7f6bdeb871119627151a2188.png);
  background-position: center;
  background-size: cover;
  width: 45%;
  height: 510px;
}
.second_right {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second_right h2 {
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}
/* ----------------------------------------------------------------------------------------- */
.third {
  flex-direction: column;
}
.third_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_main p {
  text-align: center;
  /* width: 70%; */
}
.third h3 {
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 700;
  line-height: 10%;
}
.third_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.third_cont .n {
  margin: 40px;
}
.n {
  display: flex;
  width: 440px;
  height: 360px;
  border-radius: 50px;
  flex-direction: column;
  align-items: flex-start;
}
.third_cont_1 {
  width: 220px;

  flex-direction: column;
}
.n p {
  font-size: 16px;
  width: 90%;
  height: 80%;
}
.n:nth-child(odd) {
  background-color: rgba(104, 201, 186, 0.1);
}
.n:nth-child(even) {
  background-color: rgba(156, 105, 226, 0.1);
}
.img1 {
  background-image: url(img/7ba1dda1fab4af707def69fa8e4d2a0b.png);
}
.img2 {
  background-image: url(img/6441ecd1919c84f36a65eabdc8138a2c.png);
}
.img3 {
  background-image: url(img/2f3e743d08b2c66de2a7a23d4228df91.png);
}
.img4 {
  background-image: url(img/af78d7add1e7940c7af1b7f896b757e0.png);
}
.img1,
.img2,
.img3,
.img4 {
  transform: translate(-120px, 20px);
  height: 240px;
  width: 240px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}
.third_info div {
  margin-left: 130px;
}
.third_info {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}
/* ----------------------------------------------------------------------------------------- */
.fourth {
  flex-direction: column;
}
.fourth_main {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50px;
  background-color: #9c69e2;
}
.fourth_main h5,
.fourth_main .fourth_person,
.fourth_main .fourth_menu {
  margin-left: 90px;
}
h5 {
  font-size: 40px;
  color: #fff;
}

.fourth_person,
.fourth_menu {
  -left: 10%;
}
.person_1,
.person_2,
.person_3 {
  box-shadow: 0px 20px 0px #673f9f2e;
  border-radius: 20px;
}
.person_2_shadow,
.person_3_shadow {
  position: absolute;
  width: 400px;
  height: 330px;

  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  transform: translate(-17px, -16px);
  border: 1px solid #9c69e2;
}
.person_1 {
  width: 650px;
  height: 330px;
  background: #ffffff;
}
.person_info {
  flex-direction: column;
}
.person_info p {
  color: #212353;
}
.person_info a {
  font-size: 14px;
  color: #9c69e2;
}
.person_info span {
  font-size: 17px;
  inline-size: 110%;
  line-height: 160%;
}
.person_2,
.person_3 {
  width: 400px;
  height: 330px;
  background-color: #ffffff;
  border: 1px solid #9c69e2;
  border-radius: 20px;
}
.person_2 {
  transform: translate(110px);
}
.person_3 {
  transform: translate(220px);
}
.foto_1,
.foto_2,
.foto_3 {
  width: 90px;
  height: 90px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.foto_2 {
  background-position: 50% 20%;
  background-size: 100%;
}
.foto_3 {
  background-size: contain;
}
.foto_1 {
  background-image: url(img/da4d74b6ffcfa490d831317ff20eb608.jpg);
}
.foto_2 {
  background-image: url(img/14f6cab337299359f974c0425e2feb1b.jpg);
}
.foto_3 {
  background-image: url(img/4c73c7d6d5b8bb74b6664e8e099c3d9b.jpg);
}
.fourth_menu {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dots {
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dots .big_circle,
.dots .white_circle {
  margin: 0;
  padding: 0;
}
.big_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f063b8;
}
.white_circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.left .bi,
.right .bi {
  color: #fff;
  font-size: 2rem;
}
/* ----------------------------------------------------------------------------------------- */
div .line {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 100%;
  background-color: #9c69e2;
}
/* ----------------------------------------------------------------------------------------- */
.footer {
  height: 700px;
  flex-direction: column;
}
.footer * {
  flex-direction: column;
}
.bi {
  font-size: 20px;
}
.footer_1,
.footer_2,
.footer_3,
.footer_2_4_2,
.footer_1_right {
  flex-direction: row;
  justify-content: space-between;
}
.footer_1_right {
  align-items: center;
}
h6 {
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 700;
}
.footer_2_1_1,
.footer_2_2_1,
.footer_2_3_1,
.footer_2_4_1 {
  flex-direction: row;
  align-items: center;
}
.footer_2_1_1 p,
.footer_2_2_1 p,
.footer_2_3_1 p,
.footer_2_4_1 p {
  font-weight: 900;
  font-size: 20px;
  color: #212353;
}
.figure {
  flex-direction: row;
}
.footer_2_1_2 p {
  width: 260px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}

.li a {
  color: #212353;
  font-size: 16px;
  line-height: 250%;
}
.fa-brands,
.fa-solid {
  color: #fff;
  font-size: 22px;
}
.footer_2_4_2 {
  width: 170px;
}
.footer_3 {
  align-items: center;
}
.footer_3_1 p {
  width: 330px;
  font-size: 12px;
}
.icon {
  background-color: #212353;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.fa-comment-dots {
  color: #9c69e2;
}
