@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica.ttf);
}
@font-face {
  font-family: Avenir;
  src: url(font/AvenirLTStd-Black.otf);
}
* {
  scroll-behavior: smooth;
}
body * {
  font-family: "Avenir";
  box-sizing: border-box;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}
body {
  background-color: #e5e5e5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  color: #212353;
}
p,
span {
  color: #4b5d68;
}
.nav,
.first,
.second,
.third,
.fourth,
.line {
  margin-bottom: 50px;
}
/* .first,
.second,
.fourth {
  height: 70vh;
} */
.main {
  width: 100vw;
}
.main * {
  display: flex;
}
.container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}
.container div {
  margin: 2.5px;
  padding: 10px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
/* ----------------------------------------------------------------------------------------- */
.nav .container {
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
.nav_first {
  width: 45%;
  align-items: center;
  justify-content: space-between;
}
.nav_1 {
  font-size: 20px;
  color: #212353;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.figure {
  padding: 0;
  margin: 0;
}
.hamburger .bi {
  font-size: 2rem;
}
.demo {
  display: none;
}
.demo_btn {
  display: none;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  padding: 15px 28px 15px 28px;
  /* padding-right: 70px; */
}
.demo_btn p {
  font-size: 16px;
}
.demo_btn .bi-arrow-right {
  padding-left: 20px;
  color: #9c69e2;
  font-size: 1.8em;
}

.figure {
  display: flex;
  align-items: flex-end;
}
.nav_links {
  display: none;
  width: 300px;
  justify-content: space-between;
}
.figure_1 {
  width: 20px;
  height: 20px;
  background: #9c69e2;
  border-radius: 20px;
}
.figure_2 {
  width: 20px;
  height: 35px;
  background: #f063b8;
  border-radius: 20px;
}
/* ----------------------------------------------------------------------------------------- */
.first {
  display: flex;
  height: 75vh;
  align-items: center;
}
.first_left {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.first_left h1 {
  font-family: "Helvetica";
  font-size: 3rem;
  line-height: 110%;
}
/* .first_left p {
  width: 60%;
} */
.first_btn {
  color: #fff;
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0);
  background-color: #9c69e2;
  padding: 10px 20px;
}
.first_right {
  display: none;
  position: relative;
  width: 885px;
  height: 468px;
  background-image: url(img/039cbccbb3a55ae069a3291f512521c8.png);
  background-position: center;
  background-size: cover;
  transform: translate(373px, 91px);
}
/* ----------------------------------------------------------------------------------------- */
.second {
  height: 90vh;
  justify-content: center;
}
.second .container {
  background-color: #f063b826;
  border-radius: 50px;
  flex-direction: column-reverse;
  /* height: 80%; */
}
.second_left {
  /* display: none; */
  background-image: url(img/d66cbc4f7f6bdeb871119627151a2188.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  /* transform: translate(0px, -350px); */
  opacity: 20%;
  height: 300px;
  width: 300px;
  z-index: 98;
}
.second_right {
  z-index: 99;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.second_right h2 {
  font-family: "Helvetica";
  font-size: 2.5rem;
  line-height: 52px;
}
/* ----------------------------------------------------------------------------------------- */

.third .container {
  flex-direction: column;
}
.third_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.third_main p {
  text-align: center;
}
.third h3 {
  font-family: "Helvetica";
  font-size: 3rem;
  line-height: 52px;
}
.third h4 {
  font-family: "Helvetica";
  font-size: 1.6rem;
  line-height: 52px;
}
.third_cont {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div .n {
  display: flex;
  border-radius: 50px;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 2.5px 30px 2.5px;
}
div .third_cont {
  margin: 0;
  padding: 0;
}
.third_cont_1 {
  width: 220px;
  flex-direction: column;
}
.n p {
  font-size: 16px;
  height: 80%;
}

.background_1 {
  border: 1px solid #68c9ba21;
  background-color: #68c9ba18;
  aspect-ratio: 1/1;
}
.background_2 {
  border: 1px solid #9b69e221;
  background-color: #9b69e218;
  aspect-ratio: 1/1;
}
.background_3 {
  border: 1px solid #ef61b721;
  background-color: #ef61b718;
  aspect-ratio: 1/1;
}
.background_4 {
  border: 1px solid #2d9bdb21;
  background-color: #2d9bdb18;
  aspect-ratio: 1/1;
}
.img1 {
  background-image: url(img/7ba1dda1fab4af707def69fa8e4d2a0b.png);
}
.img2 {
  background-image: url(img/6441ecd1919c84f36a65eabdc8138a2c.png);
}
.img3 {
  background-image: url(img/2f3e743d08b2c66de2a7a23d4228df91.png);
}
.img4 {
  background-image: url(img/af78d7add1e7940c7af1b7f896b757e0.png);
}
.img1,
.img2,
.img3,
.img4 {
  z-index: 98;
  opacity: 20%;
  transform: translate(40%, 50%);
  height: 240px;
  width: 240px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.third_info {
  z-index: 99;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.third_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 50px;
}
/* ----------------------------------------------------------------------------------------- */
.fourth {
  flex-direction: column;
}
.fourth .container {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background-color: #9c69e2;
}

h5 {
  justify-content: center;
  font-size: 40px;
  color: #fff;
}

.fourth_person,
.fourth_menu {
  flex-direction: column;
  align-items: center;
}
.person_1,
.person_2,
.person_3 {
  box-shadow: 0px 20px 0px #673f9f2e;
  border-radius: 20px;
}
.person_2_shadow,
.person_3_shadow {
  position: absolute;
  width: 400px;
  height: 330px;
  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  transform: translate(-17px, -16px);
  border: 1px solid #9c69e2;
}
.person_1,
.person_2,
.person_3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 490px;
  background: #ffffff;
}
.person_info {
  align-items: center;
  flex-direction: column;
}
.person_info p {
  color: #212353;
  text-align: center;
}
.person_info a {
  text-align: center;
  font-size: 14px;
  color: #9c69e2;
}
.person_info span {
  text-align: center;
  font-size: 17px;
  inline-size: 110%;
  line-height: 160%;
}
.person_2,
.person_3 {
  display: none;
  width: 400px;
  height: 330px;
  background-color: #ffffff;
  border: 1px solid #9c69e2;
  border-radius: 20px;
}
.person_2 {
  transform: translate(110px);
}
.person_3 {
  transform: translate(220px);
}
.foto_1,
.foto_2,
.foto_3 {
  width: 110px;
  height: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.foto_2 {
  background-position: 50% 20%;
  background-size: 100%;
}
.foto_3 {
  background-size: contain;
}
.foto_1 {
  background-image: url(img/da4d74b6ffcfa490d831317ff20eb608.jpg);
}
.foto_2 {
  background-image: url(img/14f6cab337299359f974c0425e2feb1b.jpg);
}
.foto_3 {
  background-image: url(img/4c73c7d6d5b8bb74b6664e8e099c3d9b.jpg);
}
.fourth_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dots {
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dots .big_circle,
.dots .white_circle {
  margin: 0;
  padding: 0;
}
.big_circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f063b8;
}
.white_circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}
.fourth_menu .arrows {
  display: none;
}
.left .bi,
.right .bi {
  color: #fff;
  font-size: 2rem;
}
/* ----------------------------------------------------------------------------------------- */
div .line {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 100%;
  background-color: #9c69e2;
}
/* ----------------------------------------------------------------------------------------- */
.footer {
  flex-direction: column;
}
.footer * {
  flex-direction: column;
}
.bi {
  font-size: 20px;
}
.footer_1,
.footer_2,
.footer_3,
.footer_2_4_2,
.footer_1_right {
  flex-direction: row;
  justify-content: space-between;
}
.footer_1_left {
  align-items: center;
  text-align: center;
}
.footer_1_right {
  display: none;
  width: auto;
  align-items: center;
}
h6 {
  font-family: "Helvetica";
  font-size: 40px;
}
.footer_2_1_1 p,
.footer_2_2_1 p,
.footer_2_3_1 p,
.footer_2_4_1 p {
  font-size: 20px;
  color: #212353;
}
.footer_2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.footer_2 {
  width: 100%;
}
.footer_2_2,
.footer_2_3 {
  width: 40%;
}
.figure {
  flex-direction: row;
}
.footer_2_1_1 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer_2_1_2 p {
  width: 260px;
  font-size: 16px;
  line-height: 180%;
}
.footer_2_4 {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.li a {
  color: #212353;
  font-size: 16px;
  line-height: 250%;
}
.fa-brands,
.fa-solid {
  color: #fff;
  font-size: 22px;
}
.footer_2_4_2 {
  width: 200px;
}
.footer_3 {
  flex-direction: column;
  align-items: center;
}
.footer_3_1 p {
  width: 330px;
  font-size: 12px;
}
.icon {
  background-color: #212353;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.fa-comment-dots {
  color: #9c69e2;
}
.fa-comment-dots {
  color: #9c69e2;
}
.fa-comment-dots {
  color: #9c69e2;
}

@media screen and (min-width: 940px) {
  .container {
    width: 940px;
    /* margin: 50px 0; */
  }
}
